body {
  margin: 0;
  padding: 0;
  position: relative;
}

/* Title */

#title {
  background: url(../media/home_page/detalhe.png) no-repeat right bottom, linear-gradient(to bottom right, #007cce, #3e4095);
  background-size: contain;
  color: #fff;
  position: relative;
}

.container-fluid {
  padding: 3% 10% 8%;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

/* Nav bar */

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  padding: 0 10%;
  transition: all .5s ease;
}

nav:not(.transparent) {
  color: #0c0c0c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.normal-text {
  font-family: 'Montserrat';
  font-weight: 100;
}

.nav-item {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.3rem;
  padding: 0 18px;
}

/* About */
#about{
  text-align: center;
  padding: 5% 10%;
}

hr{
  border-top: none;
  border-bottom-style: dotted;
  border-width: 5px;
  width: 8%;
  border-color: #afaebe;
}

.full {
  width: 100%;
  border-bottom-style: solid;
}

/* Services */

#services {
  padding: 100px;
  text-align: center;
}

.service-img {
  height: 15rem;
  width: 15rem;
  margin: auto;
  border-radius: 50%;
}

.img-1 {
  background: url("../media/logos.png") no-repeat center;
  background-size: cover;
}

.img-2 {
  background: url("../media/gestão-de-redes-sociais-em-São-Paulo-SP.png") no-repeat center;
  background-size: cover;
}

.img-3 {
  background: url("../media/website.png") no-repeat center;
  background-size: cover;
}

.section-title {
  margin-bottom: 100px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 2.5rem;
}

.service-title-inner {
  margin-top: 30px;
  font-family: 'Montserrat';
}


/* Plans */
#plans{
  padding: 100px;
  text-align: center;
}

.card-header, .card-title, .card-text {
  font-family: 'Montserrat';
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-weight: 300;
}

/* Footer */
#footer{
  text-align: center;
}

#footer i {
  margin: 0 5px 20px;
}